@import "../../common";

.thisMonthDate_current {
  color: $important !important;
  border: 4px solid $important !important;
  border-radius: 50%;
  @extend %font;
}
.thisMonthDate {
  color: #b7b7b7;
  @extend %font;
}
.otherMonthDate {
  color: transparent;
  @extend %font;
}
