@import "../index.css";
@import "../common.module";

.date {
  font-size: 17rem;
  line-height: 1.3em;
}
.wrapper {
  background-color: #55cec4;
  color: white;
}
.dayName {
  font-size: $secondary-font-size;
  line-height: $header-line-height;
  text-transform: $text-transform;
}
